<div class="text-center text-blue-100 font-bold relative">
  <h2>{{project.name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{project.description}}</p>
  <p>{{project.difficulty}}</p>
  <p>{{project.material_checklist}}</p>
  <p>{{project.description}}</p>
  <p>
    <span for="img" aria-label="money">Budget:💰</span>
    <span class="dollar-amount">{{format_amount project.budget_estimation}}</span>
  </p>
  <p>Created on {{format_date project.date_created}}</p>
  <p>
    <a href="/tasks/{{project.id}}" class="btn btn-primary">See Tasks</a>
  </p>
</div>